<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bulma-0.9.0/css/bulma.css" rel="stylesheet" />
</head>
<body>
    <div class="pt-4">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/appeal.js"></script>

</body>
</html>
